{% extends "base.html" %}
{% block content %}
	<form action="{{ form_action }}" method="post" name="login">
		{{ form.hidden_tag() }}
		<h2>Datos de configuracion</h2> <br /><br />
		<div class="container well">
			
			Zona horaria {{form.time_zone}}&nbsp;
			Idioma predeterminado {{form.select_locale}} &nbsp;
			teclado {{form.select_kyemap}}
			
			
</div>	
		<a class="btn btn-primary btn-lg" href="{{ url_for('index') }}">atras</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button name ="sig" value="True" type="submit"  class="btn btn-primary btn-lg">Siguiente</button><br />
	</form>
{% endblock %}