	{% extends "base.html" %}
	{% block content %}
	<h2>Seleccione el entorno grafico</h2><br />
	<form action="" method="post" name="login">

		{{form.hidden_tag()}}
		<div class="container well">
			<div class="col-xs-12 col-sm-4">
			<input type="radio" name="X"
				value="terminal" checked="checked">  
				<img src="../static/image/terminal.png" width="60" height="60" /> Sin entorno grafico <br />
			</div>
							<div class="col-xs-12 col-sm-4">
							<input type="radio" name="X" 
							value="gnome" >  
								<img src="../static/image/gnome.png" width="60" height="60" /> Gnome <br />
							</div>
							<div class="col-xs-12 col-sm-4">
							<input type="radio" name="X"
							value="kde" >  
								<img src="../static/image/kde.png" width="60" height="60" />    Kde<br />      
							</div>
							<div class="col-xs-12 col-sm-4">
							<input type="radio" name="X"
							value="xfce" >  
								<img src="../static/image/xfce.png" width="60" height="60" />    xfce <br />
							</div>
							<div class="col-xs-12 col-sm-4">
							<input type="radio" name="X"
							value="lxde" >  
								<img src="../static/image/lxde.png" width="60" height="60" />    Lxde <br />
							</div>

						
					</div>

												

		<button name ="sig" value="True" type="submit"  class="btn btn-primary btn-lg">Sguiente</button><br />


	</form>
	{% endblock %}
