{% extends "base.html" %}
{% block content %}
		<form action="" method="post" name="login">
		{{form.hidden_tag()}}
		<h2>Resumen del archivo Ks generado</h2> <br /><br />
		<div class="container well">
			<div class="row">
			<textarea rows="40" cols="80" name="ks">
			{{txt}}
			</textarea>			
			</div>
		</div>
		<button  name ="ini" value="True"  type="submit"  class="btn btn-primary btn-lg">Inicio</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<button name ="make" value="True" type="submit"  class="btn btn-primary btn-lg">make ISO</button><br />
</form>
{% endblock %}
